.top-section {
    display: flex;
    justify-content: space-between;
}

.posts {
    display: flex;
    flex-direction: column;
}

.top-section .title {
    font-size: 20px;
    font-weight: 500;
}

.btn-see-all {
    height: 35px;
    background-color: var(--main-blue);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 0 44px;
    display: flex;
    align-items: center;
}

.btn-see-all:hover {
    color: #FFFFFF;
    text-decoration: none; 
}
