.top-section {
    display: flex;
    justify-content: space-between;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post {
    background-color: #FFFFFF;
    border: 1px solid #F6F6F6;
    padding: 20px 20px 20px 10px;
    display: flex;
    align-items: center;
}

.post-content {
    padding: 0 30px !important;
}

.top-section .title {
    font-size: 20px;
    font-weight: 500;
}

.btn-see-all {
    height: 35px;
    background-color: var(--main-blue);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 0 44px;
}

.post-content .title {
    color: var(--main-blue);
    font-size: 20px;
}

.post-img {
    width: 70px;
}

.post-details .detail {
    font-weight: 500;
    font-size: 16px;
    color: #737373;
    margin-left: 5px;
}

.post-details .icon {
    color: #454545;
}

.post .type-badge {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 2px;
    font-weight: 500;
}

.post .date {
    margin-top: 8px;
    font-weight: 400;
    color: #737373;
}

.post .tag {
    color: var(--main-blue);
    font-size: 14px;
    padding: 0px 5px;
    border: 1px solid var(--main-blue);
    margin-right: 10px;
    margin-top: -2.5px;
    cursor: pointer;
}

.full-time {
    border: 1px solid var(--main-green);
    color: var(--main-green);
}

.part-time {
    border: 1px solid var(--main-blue);
    color: var(--main-blue);
}

.remote {
    border: 1px solid var(--main-red);
    color: var(--main-red);
}